body {
  background-color: #22272e;
  color: #c5d1de;
  font-family: system-ui;
}

#root {
  max-width: 30em;
  margin: 3em auto;
}

p {
  font-weight: bold;
  margin-top: 3em;
}

a {
  color: #478be6;
  text-underline-offset: 3px;
  transition: text-underline-offset 200ms ease-in-out;
}

a:hover {
  text-underline-offset: 5px;
}

.sample-code,
.sample-output {
  background-color: #0003;
  border-radius: 7px;
  padding: 1em;
  box-sizing: border-box;
}

button,
input {
  appearance: none;
  background-color: #000;
  color: inherit;
  border: none;
  outline: 1px solid #2d343c;
  padding: 0.5em;
  font-family: inherit;
  border-radius: 3px;
}

button {
  cursor: pointer;
}

input:not([type=checkbox]):focus,
button:active {
  outline-color: #19f;
}