body {
  background-color: #22272e;
  color: #c5d1de;
  font-family: system-ui;
}

#root {
  max-width: 30em;
  margin: 3em auto;
}

a {
  color: #478be6;
  text-underline-offset: 3px;
}

.sample-code,
.sample-output {
  background-color: #0003;
  border-radius: 7px;
  padding: 1em;
  box-sizing: border-box;
}

.list {
  padding-left: 0;
  list-style-type: none;
}

button,
input {
  appearance: none;
  background-color: #000;
  color: inherit;
  border: none;
  outline: 1px solid #2d343c;
  padding: 0.5em;
  font-family: inherit;
  border-radius: 3px;
}

button {
  cursor: pointer;
}

input.next {
  width: 100%;
  box-sizing: border-box;
}

input:not([type=checkbox]):focus,
button:active {
  outline-color: #19f;
}

.item {
  display: flex;
  align-items: center;
}

.item:hover {
  background-color: color-mix(in srgb, #22272e, black 20%);
}

.item input[type=checkbox] {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.item input[type=checkbox]:not(:checked) {
  outline-color: #19f;
}

.item span {
  flex: 1 0 auto;
}

.item.done span {
  text-decoration: line-through #f00c 7px;

}

.item>:is(span, input) {
  cursor: pointer;
}

.item.done span {
  opacity: .5;
}

.item button.close:not(:hover) {
  border: none;
  outline: none;
  background-color: inherit;
}

.actions {
  background-color: #1c2128;
  padding: 0.75em;
  margin: 1em 0;
  font-size: small;
  display: flex;
  justify-content: space-between;
}

.actions a.action-button:not(:hover) {
  text-decoration: none;
}